<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userService" class="com.otus.service.UserServiceImpl"/>

    <bean id="quizService" class="com.otus.service.QuizServiceImpl">
        <constructor-arg name="answerService" ref="answerService"/>
        <constructor-arg name="csvRepository" ref="csvRepository"/>
    </bean>

    <bean id="answerService" class="com.otus.service.AnswerServiceImpl">
        <constructor-arg name="userService" ref="userService"/>
        <constructor-arg name="csvRepository" ref="csvRepository"/>
    </bean>

    <bean id="csvRepository" class="com.otus.repository.CsvRepositoryImpl">
        <constructor-arg name="reader" ref="csvReader"/>
    </bean>

    <bean id="csvReader" class="com.opencsv.CSVReader">
        <constructor-arg name="reader" ref="fileReader"/>
    </bean>

    <bean id="fileReader" class="java.io.FileReader">
        <constructor-arg name="fileName" value="src/main/resources/Test.csv"/>
    </bean>
</beans>